name: flake-update
on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"
jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - name: nix flake update
        env:
          GH_TOKEN: ${{ secrets.PAT }}
        run: nix run .#gh-flake-update
